* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}

header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

h1 {
  font-size: xxx-large;
  color: white;
}

.trybewarts-login {
  display: flex;
  justify-content: flex-end;
  width: 40%;
}

.trybewarts-header-logo {
  width: 80px;
}

.trybewarts-login input {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: black;
  margin-right: 15px;
}

.trybewarts-login button {
  font-size: 16px;
  color: white;
  background-color: rgb(78, 44, 131);
  border: none;
  border-radius: 10px;
  padding: 10px 40px;
  cursor: pointer;
}

main {
  display: flex;
  background-color: rgb(239, 239, 239);
  flex-flow: row nowrap;
  width: 100%;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-flow: column wrap;
  padding: 20px;
}

h2 {
  font-size: xx-large;
  text-align: center;
  padding: 30px;
}

#trybewarts-forms-logo {
  height: 500px;
  width: 450px;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  margin: auto;
}

#fullname {
  display: flex;
  flex-flow: row nowrap;
}

#housemail {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 20px;
}

#family {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 20px;
  align-self: start;
  width: 30%;
}

#label-family {
  margin-bottom: 20px;
}

#content {
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 20px;
  width: 50%;
}

#label-content {
  margin-bottom: 10px;
}

#rate {
  margin-bottom: 20px;
  width: 50%;
}

#comment {
  margin-bottom: 20px;
}

#inline {
  display: flex;
  flex-direction: row;
}

#label-rate {
  margin-bottom: 10px;
}

#input-name {
  width: 50%;
  height: 30px;
}

#input-lastname {
  width: 42%;
  height: 30px;
}

#input-email {
  width: 60%;
  height: 30px;
}

#house {
  width: 202px;
}

#aa {
  display: flex;
  flex-direction: column;
  width: 30%;
}

#bb {
  display: flex;
  flex-direction: column;
}
