* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}

header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

h1 {
  font-size: xxx-large;
  color: white;
}

.trybewarts-login {
  display: flex;
  justify-content: flex-end;
  width: 40%;
}

.trybewarts-header-logo {
  width: 80px;
}

.trybewarts-login input {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: black;
  margin-right: 15px;
}

.trybewarts-login button {
  font-size: 16px;
  color: white;
  background-color: #4E2C83;
  border: none;
  border-radius: 10px;
  padding: 10px 40px;
  cursor: pointer;
}

main {
  display: flex;
  background-color: #EFEFEF;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-flow: column wrap;
  padding: 20px;
  border: 1px solid red;
}

h2 {
  font-size: xx-large;
  text-align: center;
  padding: 30px;
}

#trybewarts-forms-logo {
  height: 500px;
}

#fullname {
  display: flex;
  flex-flow: row nowrap;
}

#housemail {
  display: flex;
  flex-flow: row nowrap;
}

#family {
  display: flex;
  flex-flow: column wrap;
}

#content {
  display: flex;
  flex-flow: column wrap;
}
